:root {
    ---back-color: #707070;
    ---font-color: #000000; 
    --siteColor: #5E69FF; 
}

.QuestionWrapper {
    margin-bottom: 20px;
  }

.AddQuestionButton {
  padding: 1rem;
  margin: 1rem;
  background-color: var(--siteColor);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
.AddQuestionButton:hover {
  background-color: #589feb;
}

.question-block.invalid {
  border: 2px solid red;
  background-color: #ffe6e6;
}
